$border-color: #000000;
$background-color: #EEEEEE;

$light-text-1: #686868;
$light-text-2: #666666;
$light-text-3: #616161;

$accent-color: #1F7A54;

$text-1: #222222;
$text-2: #3FD28B;

$card-color: #FFFFFF;